* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

#active-btn {
  color: aqua;
}

body {
  font-family: Arial, sans-serif;
  background: url('Yaz.jpg');
  background-size: cover;
  color: white;
  min-height: 100vh;
}

.container {
  display: grid;
  grid-template-columns: repeat(10, 1fr);
  text-align: center;
}

h1 {
  grid-column: 1 / 11;
  font-size: 7vh;
  color: black;
  font-family: "Italiana", serif;
  margin-top: 20px;
}

nav {
  grid-column: 1 / 11;
  display: flex;
  justify-content: center;
  gap: 4vh;
  margin-top: 20px;
}

nav a {
  text-decoration: none;
  color: white;
  background-color: rgba(60, 137, 153, 0.8);
  padding: 1.5vh 4vh;
  border-radius: 5vh;
  font-size: 3vh;
  transition: background 0.3s;
  font-family: "Italiana", serif;
}

nav a:hover {
  background-color: rgba(60, 137, 153, 1);
}

nav.show {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  background-color: rgba(60, 137, 153, 0.9);
  position: absolute;
  top: 8vh;
  left: 2vh;
  padding: 1vh 2vh;
  border-radius: 1vh;
  gap: 1vh;
}

nav.show a {
  display: block;
  margin: 0.5vh 0;
  text-align: left;
  font-size: 2.2vh;
  padding: 1vh 2vh;
  width: auto;
}

.content {
  grid-column: 1 / 11;
  display: grid;
  grid-template-columns: repeat(10, 1fr);
  align-items: center;
  justify-items: center;
  margin-top: 10vh;
}

.text {
  grid-column: 2 / 7;
  text-align: left;
}

.text p {
  font-size: 5vh;
  font-family: "Itim", cursive;
  margin-bottom: 10px;
}

.text h2 {
  font-size: 4vh;
  margin-top: 2vh;
  font-family: "Italiana", serif;
  font-weight: normal;
}

.text ul {
  list-style: disc inside;
  margin-top: 10px;
  font-size: 3.5vh;
  line-height: 1.4;
}

.tech-stack {
  display: flex;
  gap: 2vh;
  margin-top: 1vh;
}

.tech-icon {
  width: 70px;
  height: 70px;
  object-fit: contain;
}

.profile {
  grid-column: 8 / 10;
  width: 100%;
  aspect-ratio: 1 / 1;
  border-radius: 50%;
  object-fit: cover;
}

.menu-toggle {
  display: none;
  cursor: pointer;
}

@media (max-width: 1700px) {
  h1 {
    font-size: 6vh;
    margin-top: 20px;
  }
  .text p {
    font-size: 4.5vh;
  }
  .text ul {
    font-size: 3.2vh;
  }
  .tech-icon {
    width: 65px;
    height: 65px;
  }
}

@media (max-width: 1300px) {
  h1 {
    font-size: 5.5vh;
  }
  nav a {
    font-size: 2.8vh;
  }
  .text p {
    font-size: 4vh;
  }
  .text ul {
    font-size: 3vh;
  }
  .tech-icon {
    width: 60px;
    height: 60px;
  }
}

@media (max-width: 1000px) {
  h1 {
    font-size: 5vh;
  }
  nav a {
    font-size: 2vh;
  }
  .profile {
    grid-column: 4 / 8;
    grid-row: 3 / 4;
    width: 80%;
  }
  .text {
    grid-column: 2 / 10;
    grid-row: 4 / 5;
    padding-top: 3.5vh;
  }
  .text p {
    font-size: 3.9vw;
  }
  .text ul {
    font-size: 3.5vw;
  }
  .tech-icon {
    width: 60px;
    height: 60px;
  }
}

@media (max-width: 700px) {
  h1 {
    font-size: 4vh;
  }
  .menu-toggle {
    display: block;
    font-size: 2.5vh;
    color: black;
    position: relative;
    top: 3.8vh;
    left: 2vh;
    z-index: 1000;
  }
  nav {
    display: none;
  }
  nav.show {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    background-color: rgba(60, 137, 153, 0.9);
    position: absolute;
    top: 8vh;
    left: 2vh;
    padding: 1vh 2vh;
    border-radius: 1vh;
    gap: 1vh;
  }
  nav.show a {
    display: block;
    margin: 0.5vh 0;
    text-align: left;
    font-size: 2.2vh;
    padding: 1vh 2vh;
    width: auto;
  }
  .profile {
    grid-column: 4 / 8;
    grid-row: 2 / 3;
    width: 80%;
  }
  .text {
    grid-column: 2 / 10;
    grid-row: 3 / 4;
    padding-top: 3.5vh;
  }
  .text p {
    font-size: 3.9vw;
  }
  .text ul {
    font-size: 3.5vw;
  }
  .tech-icon {
    width: 60px;
    height: 60px;
  }
}

@media (max-width: 400px) {
  h1 {
    font-size: 3.5vh;
  }
  .menu-toggle {
    top: 3.4vh;
  }
  nav.show {
    top: 7vh;
  }
  nav.show a {
    font-size: 2vh;
    padding: 0.8vh 1.5vh;
  }
  .profile {
    grid-column: 3 / 9;
    width: 85%;
  }
  .text p {
    font-size: 3.5vw;
  }
  .text ul {
    font-size: 3.2vw;
  }
  .tech-icon {
    width: 50px;
    height: 50px;
  }
}

@media (max-width: 300px) {
  h1 {
    font-size: 3vh;
  }
  .menu-toggle {
    top: 3vh;
  }
  nav.show {
    top: 6vh;
  }
  nav.show a {
    font-size: 1.8vh;
    padding: 0.7vh 1.2vh;
  }
  .profile {
    grid-column: 3 / 9;
    width: 85%;
  }
  .text p {
    font-size: 3.2vw;
  }
  .text ul {
    font-size: 2.8vw;
  }
  .tech-icon {
    width: 40px;
    height: 40px;
  }
}
